.header{
    background-color:bisque;
    display:flex;
    justify-content:space-between;
    padding:10px;
}

.logo{
    color:#1b1b2b;
    font-size:1.4em;
    text-shadow:1px rgb(122,222,144) 3px;
    font-family:Arial, Helvetica, sans-serif;
}

.search input{
    padding:2px;
    border-radius:10px;
}

.cart{
    padding:10px;
    background-color:tomato;
    border-radius:11px;
}